* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}